!!!
%html
  %head
    %title BonusBatch
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar-wrapper
      .container
        %header.navbar.navbar-inverse.navbar-static-top
          = render 'header'

    .wrapper
      .container
        %main#main-container
          .loading
            %img{ src: '/assets/loading.gif' }
          = yield

        %footer
          = render 'footer'

    = javascript_include_tag 'application'
    = yield :scripts
